body {
	width: 500px;
	padding: 0 20 10 20;
}

.row {
	padding-bottom:  5px;
}

/* Extend Bootstrap label class */
.label-as-badge {
    border-radius: 1em;
}

#api_key_heroes_profile {
	width: 100%
}

button {
	width: 100%
}
