/* Blizzard Fonts */
@font-face {
	font-family: Blizzard;
	font-style: normal;
	font-weight: 300;
	src: local("Blizzard Light"), local("Blizzard-Light"), url(/fonts/light.woff) format("woff");
}
@font-face {
	font-family: Blizzard;
	font-style: normal;
	font-weight: 400;
	src: local("Blizzard"), local("Blizzard"), url(/fonts/regular.woff) format("woff");
}
@font-face {
	font-family: Blizzard;
	font-style: italic;
	font-weight: 400;
	src: local("Blizzard Italic"), local("Blizzard-Italic"), url(/fonts/regular-italic.woff) format("woff");
}
@font-face {
	font-family: Blizzard;
	font-style: normal;
	font-weight: 700;
	src: local("Blizzard Bold"), local("Blizzard-Bold"), url(/fonts/bold.woff) format("woff");
}
@font-face {
	font-family: heroes-icon;
	src: url(/fonts/heroes.eot);
	src: url(/fonts/heroes-iefix.eot) format('embedded-opentype'), url(/fonts/heroes.woff) format('woff'), url(/fonts/heroes.ttf) format('truetype'), url(/fonts/heroes.svg) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: battlegrounds-icon;
	src: url(/fonts/battlegrounds.eot);
	src: url(/fonts/battlegrounds-iefix.eot) format('embedded-opentype'), url(/fonts/battlegrounds.woff) format('woff'), url(/fonts/battlegrounds.ttf) format('truetype'), url(/fonts/battlegrounds.svg) format('svg');
	font-weight: 400;
	font-style: normal
}


select { width: 100% }
span.hero {
	margin: 0 5px;
	padding: 4px;
	white-space: nowrap;
	display: inline-block;
}
body { font-family: "Blizzard", sans-serif; }

/* Sub Roles */
.hero:before {
	font-family: heroes-icon;
	font-size: 1.5em;
	vertical-align: text-bottom;
}

/* Blizzard Icons, but HotS Logs Roles */ 
.Tank:before, .Bruiser:before { content: "\e603" } /* Warrior Icon */
.Healer:before, .Support:before { content: "\e604" } /* Support Icon */
.Siege:before, .Utility:before { content: "\e605" } /* Specialist Icon */
.Ambusher:before, .BurstDamage:before, .SustainedDamage:before { content: "\e606" } /* Assassin Icon */
				
.Tank:before { color: #CC9 }
.Bruiser:before { color: #E3A23B }
.Healer:before { color: #3BE33B }
.Support:before { color: #60CDCD }
.Ambusher:before { color: #E3E33B }
.BurstDamage:before { color: #E33B3B }
.SustainedDamage:before { color: #E33B8E }
.Siege:before { color: #A660E8 }
.Utility:before { color: #DDD }

